@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cloudy";
  src: url("/fonts/cloudy.ttf") format("truetype");
}

.font-cloudy {
  font-family: "Cloudy";
}

.title-shadow {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, 0px 9px 9px rgba(0, 0, 0, 0.15); /* Drop shadow */
}
